:host {
    display: flex;
    flex: 1;
}

// Material components don't have default sizes, so it's best to specify them
md-sidenav {
    width: 320px;
}

// border-radius makes it rounded, combine with hidden overflow to make it a circle picture
#{"/deep/"} md-icon.avatar { // deep is needed to set styles in the dialog
    overflow: hidden;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 12px;
}

.content {
    padding: 12px;
}

// workaround for syntax error with '/deep/' selector
#{"/deep/"} .mat-list-item-content {
    height: auto !important; // size to content
}

.fab-bottom-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
}